html,
body {
    height: 100%;
    background-color: rgb(230, 230, 230);
    margin: 0;
    width: 100%;
}


.br-5{
    border-radius: 5px;
}

.full-height {
    height: 100%;
}

.d-flex {
    display: flex;
}

.p-fixed{
    position: fixed;
}

.just-content-center {
    justify-content: center;
}

.just-content-right {
    justify-content: right;
}

.align-items-center {
    align-items: center !important;
}

.full-vh {
    min-height: 100vh;
}

.full-width {
    width: 100%;
}

.full-height {
    height: 100%;
}

.bg-cat {
    background-image: url('/img/auth.jpg');
    background-repeat: no-repeat;
    background-size: cover;

}

.text-center {
    text-align: center;
}

.column {
    flex-direction: column;
}

.m-0 {
    margin: 0;
}

.mt-10 {
    margin-top: 10px;
}

.mr-10 {
    margin-right: 10px;
}

.mb-10 {
    margin-bottom: 10px;
}

.p-20 {
    padding: 20px;
}

.text-white {
    color: white;
}

.text-main-color {
    color: rgba(0, 0, 0, 0.6);
}

* {
    font-family: 'Roboto', Courier, monospace;
}

.none-decoration {
    text-decoration-line: none;
}

.pi-github {
    font-size: 30px;
}

.pi-telegram {
    font-size: 30px;

}

.box-1 {
    box-shadow: 0px 2px 14px 1px rgba(0, 0, 0, 0.5);
}

.height-100{
    height: 70px;
}

.scroll{
    overflow-y: auto;
}